@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
#topbar{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}
#topbar img{
    width: 150px;
}
#menu-items{
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.menus{
    color: #888;
}
#home{
    color: black;
    border-bottom: 3px solid rgb(73, 73, 190);
}
.account-btn{
    padding: 20px 30px;
    border-radius: 22px;
    color: rgb(73, 73, 190);
    font-weight: bold;
    background-color: rgb(253, 214, 220);
    outline: none;
    border: none;
}

#landing-section{
    width: 100%;
    box-sizing: border-box;
    padding: 30px 30px 30px 150px;
    display: flex;
    justify-content: space-between;
}
#leftside{
    width: 370px;
}
#rightside{
    width: 60%;
}
#leftside h1{
    font-size: 75px;
}
#leftside p{
    font-size: 16px;
    color: #777;
    line-height: 1.8;
    margin-bottom: 40px;
}
#fullstop{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: rgb(73, 73, 190);
}
#button-wrapper{
    display: flex;
    align-items: center;
}
#button-wrapper img{
    margin-left: 10px;
}
#account-btn{
    color: white;
    background-color: rgb(73, 73, 190);
    margin-right: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
#list-wrapper{
    margin-top: 80px;
}
.lists{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 10px 0;
    background-color: whitesmoke;
    padding: 10px 15px;
    border-radius: 12px;
    position: relative;
}
.colorbox{
    width: 20px;
    height: 10px;
    display: inline;
    border-radius: 10px;
    position: absolute;
    right: 20px;
}
#colorbox1{
    background-color: lightpink;
}
#colorbox2{
    background-color: orangered;
}
#colorbox3{
    background-color: lightgreen;
}
#colorbox4{
    background-color: rgb(252, 252, 162);
}
.list-name{
    margin-left: 1rem;
}
.date{
    color: #888;
    position: absolute;
    right: 60px;   
}
.profile{
    position: absolute;
    right: 130px;
}
#active-list{
    background-color: white;
    box-shadow: 0 2px 50px #ddd;
}